Options -MultiViews
RewriteEngine On

# change folder name here
RewriteBase /ISCon/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]