<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Transitional//EN" “http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml">

<!--[ HEADER ]-->
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/> <title>Murdoch University in Perth, Australia</title>
body id = main
<link href="http://www.murdoch.edu.au/_image/favicon.gif/" rel="shortcut icon"/>
<link href="http://www.murdoch.edu.au/_image/favicon.gif/" rel="icon"/>
<link href="http://www.murdoch.edu.au/_stylesheet/External/common.css/" rel="stylesheet" type="text/css"> </link>
<link href="http://www.murdoch.edu.au/_stylesheet/External/promo.css/" rel="stylesheet" type="text/css"> </link>
<link href="http://www.murdoch.edu.au/_stylesheet/External/microsite.css/" rel="stylesheet" type="text/css"> </link>
<script xml:space="preserve" type="text/javascript" src="http://www.murdoch.edu.au/_javascript/jquery.js/"> </script>
<script xml:space="preserve" type="text/javascript" src="http://www.murdoch.edu.au/_javascript/common.js/"> </script>
<meta content="Murdoch University in Perth, Australia" name="title"/>
</head>
<!-- [end header] -->
<style>
body#main div#promo_area {
width: 800px;
margin-right: -186px; padding-left: 0px;
}
div#side_navigation ul.content li.last {
width: 100%;
}
</style>
<!-- [ END HEADER ] -->

<body id="main" class="page"> <div id="body">
<div id="header"></div>
<!-- [ MENU NAVIGATION ] --> <div id="sub_navigation"> <ul>
<li><a class="home" href="#" shape="rect">Menu Option 1</a></li> <li><a href="#" shape="rect">Menu Option 2</a></li>
<li><a href="#" shape="rect">Menu Option 3</a></li>
<li><a href="#" shape="rect">Menu Option 4</a></li>
<li><a href="#" shape="rect">Menu Option 5</a></li> <li><a href="#" shape="rect">Menu Option 6</a></li> <li><a href="#" shape="rect">Menu Option 7</a></li> <li><a href="#" shape="rect">Menu Option 8</a></li> <li><a href="#" shape="rect">Menu Option 9</a></li> </ul>
</div>
<div id="breadcrumb">Main Murdoch site : Home</div>
<!-- [ BEGIN CONTENT AREA (WHITE CANVAS SECTION) ]--> <div id="content">
<!-- [ HEADER BANNER ] -->
<div id="flash">
<img src="#" alt="header banner" width="960" height="240"> </div>
<!-- [ END HEADER BANNER ] -->
<!-- [LEFT CONTAINER CONTAINING MENU- -->
<div id="course_left">
<!--[ SIDE NAVIGATION ]--> <div id="side_navigation"> <ul class="content">
<li>
<a href="#">menu item 1</a>
<ul>
<li class="first"><a href="#">menu item 1.1</a></li> <li>
<a href="#">menu item 1.2</a>
<ul>
<li class="first"><a href="#">menu item 1.2.1</a></li>
<li class="last"><a href="#" class="selected">menu item 1.2.2</a></li> </ul>
</li>
<li><a href="#">menu item 1.3</a></li>
<li><a href="#">menu item 1.4</a></li>
<li class="last"><a href="#">menu item 1.5</a></li>
</ul>
</li>
<li><a href="#">menu item 2</a></li>
<li><a href="#">menu item 3</a></li>
<li><a href="#">menu item 4</a></li>
<li><a href="#">menu item 5</a></li>
<li><a href="#">menu item 6</a></li>
<li><a href="#">menu item 7</a></li>
<li><a href="#">menu item 8</a></li>
</ul>
</div>
<!--[ END SIDE NAVIGATION ] -->
</div>
<!--[ END LEFT CONTAINER CONTAINING MENU ] -->
<!--[ BEGIN CONTENT SECTION ] -->
<div id="main_content">
<h1>Main Heading</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet diam, pellentesque neque.</p>
<!--[ END CONTENT SECTION] -->
<!--[ PROMO AREA CONTAINER] --> <div id="promo_area">
<div class="promo">
<h2>1st Promo box</h2>
<a alt="promo" href="#">
<span>
<img height="111" border="0" width="228" title="" alt="" src="#"/>
</span>
</a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet diam, pellentesque neque.</p> <p class="link">+<a alt="link" href="#">Find out more</a></p>
</div>
<div class="promo">
<h2>1st Promo box</h2>
<a alt="promo" href="#">
<span>
<img height="111" border="0" width="228" title="" alt="" src="#"/>
</span>
</a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet diam, pellentesque neque.</p> <p class="link">+<a alt="link" href="#">Find out more</a></p>
</div>
<div class="promo">
<h2>1st Promo box</h2>
<a alt="promo" href="#">
<span>
<img height="111" border="0" width="228" title="" alt="" src="#"/>
</span>
</a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet diam, pellentesque neque.</p> <p class="link">+<a alt="link" href="#">Find out more</a></p>
</div>
</div>
<div id="quick_links">
<h2> Quick links heading</h2> <ul>
<li>Lorem ipsum dolor sit amet</li>
<li>Lorem <a href="#">ipsum dolor</a> sit amet</li> <li>Lorem ipsum dolor sit amet</li>
<li>Lorem ipsum dolor sit amet</li>
</ul>
</div>
</div>
<!--[ PROMO AREA CONTAINER] -->

<!--------------- [ BEGIN FOOTER DEFINITION ] --------------->
<div id="footer">
<div class="links"><a class="" title="Home Page" shape="rect" alt="Home Page" href="/"><img height="60" width="86" border="0" title="Murdoch logo" class="logo" alt="Murdoch logo" src="http://www.murdoch.edu.au/_image/navigation/footer_logo.gif/?width=86&amp;height=60"/></a>
<ul>
<li>
<ul>
<li>© 2009 <a shape="rect" href="http://www.murdoch.edu.au/">Murdoch University</a></li>
<li><a shape="rect" href="http://www.murdoch.edu.au/goto/CopyrightNotice">Copyright & Disclaimer</a></li>
<li><a shape="rect" href="http://www.murdoch.edu.au/goto/CRICOSCode">CRICOS Code: 00125J</a></li>
</ul>
</li>
<li class="inline">
<ul>
<li><a shape="rect" href="http://www.murdoch.edu.au/About-us/Getting-in-touch-with-us/">Contact Us</a></li>
<li><a shape="rect" href="http://www.murdoch.edu.au/goto/PrivacyNotice">Privacy</a></li>
<li><a shape="rect" href="http://www.murdoch.edu.au/goto/MurdochNetPolicy">MurdochNet Policy</a></li>
</ul>
</li>
<li class="full">
<ul>
<li><a shape="rect" href="http://www.murdoch.edu.au/">Home</a></li>
<li><a shape="rect" href="http://www.murdoch.edu.au/Courses/">Courses</a></li>
<li><a shape="rect" href="http://www.murdoch.edu.au/Future-students/">Future students</a></li>
<li><a shape="rect" href="http://www.murdoch.edu.au/International-students/">International students</a></li>
<li><a shape="rect" href="http://www.murdoch.edu.au/Research-capabilities/">Research capabilities</a></li>
<li><a shape="rect" href="http://www.murdoch.edu.au/News/">News</a></li>
<li><a shape="rect" href="http://www.murdoch.edu.au/Alumni-and-careers/">Alumni and Careers</a></li>
<li><a shape="rect" href="http://www.murdoch.edu.au/Services/">Services</a></li>
<li><a shape="rect" href="http://www.murdoch.edu.au/Supporting-our-Uni/">Supporting our Uni</a></li>
<li><a shape="rect" href="http://www.murdoch.edu.au/About-us/">About us</a></li>
</ul>
</li>
</ul>
<div class="select_site">
<p>You are currently located on the <strong>Site Name</strong> site</p>
<div id="site_select"><span>+</span> <a onClick="document.getElementById(‘other_sites’).style.display = ‘block’" shape="rect">Find another Murdoch website</a></div>
<div id="other_sites">
<div align="right"><a onClick="document.getElementById(‘other_sites’).style.display = ‘none’" shape="rect">Close</a></div>
<ul>
<li><a target="_blank" shape="rect" onClick="document.getElementById(‘other_sites’).style.display = ‘none’" href="http://wwwlib.murdoch.edu. au">Library</a></li>
<li><a target="_blank" shape="rect" onClick="document.getElementById(‘other_sites’).style.display = ‘none’" href="http://handbook.murdoch.edu. au">Handbook</a></li>
<li><a target="_blank" shape="rect" onClick="document.getElementById(‘other_sites’).style.display = ‘none’" href="http://bookshop.murdoch.edu. au">Bookshop</a></li>
<li><a target="_blank" shape="rect" onClick="document.getElementById(‘other_sites’).style.display = ‘none’" href="http://www.oss.murdoch.edu. au">Office of Student Services</a></li>
<li><a target="_blank" shape="rect" onClick="document.getElementById(‘other_sites’).style.display = ‘none’" href="http://www.tlc.murdoch.edu. au">The Teaching and Learning Centre</a></li>
</ul>
</div>
</div>
</div>
</div>
<!-- END FOOTER -->

</div>
</div>
</body>
</html>